<div id="recent">
    <table class="rightsideTable" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr height="15">
        <th class="tHeader" nowrap="nowrap" width="100%">recent skills</th>
    </tr>

    </table>

    <table class="rightsideTable" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr height="15">
        <th class="tHeader" nowrap="nowrap" width="100%">recent groups</th>
    </tr>
       <tr height="15">
           <td scope="row" class="tRowOdd" valign="top">
           	<a href="search/groups/1" class="tRowLink" title="Financial Investor">Giraffe Labs</a>
           </td>
    </tr>
    </table>
</div>